@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* border: 1px solid black; */
}
/* .aboutMe{
  @apply md:top-[56%] sm:top-[62.5%] lg:top-[62.5%]
} */
@keyframes bg {
  0%{
    background-image: url(/public/pexels-pixabay-270408.jpg);
  }
  25%{
    background-image: url(/public/5474248_2328020.jpg);
  }
  50%{
    background-image: url(/public/pexels-markus-spiske-360591.jpg);
  }
  75%{
    background-image: url(/public/6091745_3155950.jpg);
  }
  100%{
    background-image: url(/public/pexels-danny-meneses-943096.jpg);
  }
  
}
.projects{
  @apply flex justify-center align-middle flex-wrap w-[100%] h-64  md:h-48  md:w-full rounded-lg;
  background-image: url(/public/pexels-pixabay-270408.jpg);
  animation: bg 10s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}